<ion-view view-title="Finblocks">
  <ion-content>
    <ion-list>
      <div ng-hide="(listFollows.users && listFollows.users.length)" class='text-center padding'>
        <h1 class='header-subtle'>You're not following anyone yet.</h1>
        <p>
          <a href="#/analysts">Follow some analysts</a> 
          to start seeing trade ideas in your feed.
        </p>
      </div>
      <ion-item
              ng-repeat="user in listFollows.users | orderBy:'+createdAt'"
              class="item-user item-avatar"
              type="item-text-wrap" >
        <img ng-src="{{user._id | userAvatar}}"/>
        <h2>{{user._id | userHeader}}</h2>
        <a
          class='button button-small button-clear button-positive icon-left ion-ios-person'
          href="#/users/{{user._id}}"> View Analyst </a>
        <button
          class='button button-small button-clear button-assertive icon-left ion-pin'
          ng-click="listFollows.unfollow(user._id)"> Unfollow </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>