<ion-view view-title="Finblocks">
  <ion-content>
    <ion-list>
      <ion-item
              ng-repeat="user in listUsers.users | orderBy:'+createdAt'"
              class="item-user item-avatar item-icon-right item-button-right"
              type="item-text-wrap" >
        <img ng-src="{{user._id | userAvatar}}"/>
        <h2>{{user._id | userHeader}}</h2>
        <a
          class='button button-outline button-positive'
          href="#/users/{{user._id}}"> View </a>
        <!-- <button 
          class='button button-outline button-positive' 
          ng-click="listUsers.follow(user._id)"> Follow </button> -->

        <!-- <ion-option-button class='button-assertive' ng-click='listUsers.remove(idea)'> -->
          <!-- Delete -->
        <!-- </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>