<ion-view view-title="Finblocks">
  <ion-content>
    <ion-list>
      <ion-item
              ng-repeat="idea in listFavorites.ideas | orderBy:'-createdAt'"
              class="item-idea item-remove-animate item-avatar item-icon-right"
              type="item-text-wrap">
        <img ng-src="{{idea.userId | userAvatar}}"/>
        <h2>
          <a class="positive" href="#/ideas/{{idea._id}}">{{idea.symbol}}</a>
          <span class='balanced'> {{idea.symbol | stockQuote}} </span>
        </h2>
        <p>{{idea.description}}</p>
        <p><small><small>{{idea.userId | userHeader}}</small></small></p>
        <button 
          class='button button-small button-clear button-positive icon-left ion-ios-star' 
          ng-click="listFavorites.unfavorite(idea._id)">
        </button>
        <a
          href="#/ideas/{{idea._id}}">
          <button
            class='button button-small button-clear button-positive ion-arrow-graph-up-right'>
            Details
          </button>
        </a>
        <!-- <ion-option-button class='button-assertive' ng-click='listFavorites.remove(idea)'> -->
          <!-- Delete -->
        <!-- </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>