<ion-view view-title="Stock Ideas">
  <ion-content>
    <ion-list>
      <ion-item
              ng-repeat="idea in listIdeas.ideas | orderBy:'-createdAt'"
              class="item-idea item-remove-animate item-avatar item-icon-right"
              type="item-text-wrap"
              href="#/ideas/{{idea._id}}">
        <img ng-src="{{idea}}">
        <!-- <h2>{{idea | ideaName}}</h2> -->
        <p>{{idea.description}}</p>
        <span class="text-muted">{{idea.symbol}}</span>
        <span> 14.25 </span>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <ion-option-button class='button-assertive' ng-click='listIdeas.remove(idea)'> -->
          <!-- Delete -->
        <!-- </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>