<ion-view view-title="Finblocks">
  <ion-content>
    <div ng-hide="(listIdeas.ideas && listIdeas.ideas.length)" class='text-center padding'>
      <h1 class='header-subtle'>No ideas yet!</h1>
      <p>
        <a href="#/analysts">Follow some analysts</a> 
        to start seeing investment ideas in your feed.
      </p>
    </div>
    <ion-list>
      <ion-item
              ng-repeat="idea in listIdeas.ideas | orderBy:'-createdAt'"
              class="item-idea item-remove-animate item-avatar item-icon-right"
              type="item-text-wrap">
        <img ng-src="{{idea.userId | userAvatar}}"/>
        
        <h2>
          <a href="#/ideas/{{idea._id}}" class="positive">{{idea.symbol}}</a>
          <!-- <stock-price ng-symbol="{{idea.symbol}}"></stock-price> -->
        </h2>
        <p>{{idea.description}}</p>
        <p><small><small>{{idea.userId | userHeader}}</small></small></p>
        <!-- <h2>{{idea | ideaName}}</h2> -->
        <button 
          class='button button-small button-clear button-positive icon-left ion-ios-star'
          ng-show="listIdeas.isFavorite(idea._id)"
          ng-click="listIdeas.unfavorite(idea._id)">
            <!-- <i class='icon ion-ios-star'></i> -->
        </button>
        <button
          class='button button-small button-clear button-positive icon-left ion-ios-star-outline' 
          ng-hide="listIdeas.isFavorite(idea._id)"
          ng-click="listIdeas.favorite(idea._id)">
            <!-- <i class='icon ion-ios-star-outline'></i> -->
        </button>
        <a 
          href="#/ideas/{{idea._id}}">
          <button
            class='button button-small button-clear button-positive icon-left ion-arrow-graph-up-right'>
            Details
          </button>
        </a>
<!--         <a
          href="#/users/{{idea.userId}}">
          <button
            class='button button-small button-clear button-positive icon-left ion-ios-person'>
            Analyst Profile
          </button>
        </a> -->
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->

        <!-- <ion-option-button class='button-assertive' ng-click='listIdeas.remove(idea)'> -->
          <!-- Delete -->
        <!-- </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>