<ion-view view-title='Create idea'>
  <ion-content>
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Stock symbol</span>
        <input 
          type="text" 
          placeholder="WADDUP"
          ng-model="newIdea.idea.symbol">
      </label>
<!--       <label class="item item-input">
        <span class="input-label">Entry price</span>
        <input 
          type="number" 
          placeholder="100.00"
          ng-model="newIdea.idea.symbol">
      </label> -->
      <label class="item item-input">
        <span class="input-label">Exit price</span>
        <input 
          type="number" 
          placeholder="100.00"
          ng-model="newIdea.idea.exitPrice">
      </label>
      <label class='item item-input'>
        <span class='input-label'>Stop loss price</span>
        <input 
          type="number" 
          placeholder="100.00"
          ng-model="newIdea.idea.stopLossPrice">
      </label>

<!--       <label class='item item-input item-stacked-label'>
        <span class='input-label'> End date </span>
        <input type='date' ng-model="newIdea.idea.endDate">
      </label> -->
      <label class='item item-input item-select'>
        <span class='input-label'>Horizon date</span>
        <select ng-model="newIdea.idea.horizonDate">
          <option value='1 day'>1 day </option>
          <option value='1 week'>1 week</option>
          <option value='1 month'>1 month</option>
          <option value='3 months'>3 months</option>
          <option value='6 months'>6 months</option>
          <option value='1 year'>1 year</option>
        </select>
      </label>
      <label class='item item-input item-select'>
        <span class='input-label'>Idea type</span>
        <select ng-model="newIdea.idea.basis">
          <option value='technical'>technical</option>
          <option value='fundamental'>fundamental</option>
        </select>
      </label>
<!--       <label class='item item-input item-stacked-label'>
        <span class='input-label'> Expiry </span>
        <input type='date' ng-model="newIdea.idea.expiry">
      </label> -->
      <label class="item item-input item-stacked-label">
        <span class='input-label'> Description </span>
        <textarea 
          placeholder="Briefly explain the idea"
          ng-model="newIdea.idea.description"></textarea>
      </label>
      <span class='padding'>
        <a href="javascript:;" class="button button-block button-outline button-positive" ng-click="console.log('foo');">
          Create Idea
        </a>
      </span>
    </form>
  </ion-content>
</ion-view>