<ion-view class='view-idea'>
  <ion-content>
    <div class='row responsive-sm'>
      <div class='padding col col-50 col-offset-25'>
        <div class="list card">
          <div class="item item-avatar">
            <img ng-src="{{viewIdea.idea.userId | userAvatar}}"/>
            <p>
              {{viewIdea.idea.description}}
              <br />
              <small><small>{{viewIdea.idea.userId | userHeader}}</small></small>
            </p>
          </div>
        </div>
        <div class='list'>
          <div class='item'>
            <span class='text-muted'>Ticker</span>
            <span class='item-note'> {{viewIdea.idea.symbol}}</span>
          </div>
          <div class='item'>
            <span class='text-muted'>Last price</span>
            <span class="item-note"> {{viewIdea.idea.symbol | stockQuote}} </span>
          </div>
          <div class='item'>
            <span class='text-muted'>Exit price</span>
            <span class="item-note"> {{viewIdea.idea.exitPrice}} </span>
          </div>
          <div class='item'>
            <span class='text-muted'>Stop-loss price</span>
            <span class="item-note"> {{viewIdea.idea.stopLossPrice}} </span>
          </div>
  <!--         <div class='item'>
            <span class='text-muted'>Current profit</span>
            <span class="item-note"> {{viewIdea.idea.symbol | stockQuote}} </span>
          </div> -->
          <div class='item'>
            <span class='text-muted'>Horizon</span>
            <span class="item-note"> {{viewIdea.idea.horizonDate | ideaTime}} </span>
          </div>
          <div class='item'>
            <span class='text-muted'>Analysis</span>
            <span class="item-note"> {{viewIdea.idea.basis}} </span>
          </div>
        </div>
        <p>
          
        </p>

        <!-- <div class='list list-inset'>
          <div class='item'>Start: {{viewIdea.idea.startDate | ideaTime}}</div>
          <div class='item'>End: {{viewIdea.idea.endDate | ideaTime}}</div>
          <div class='item'>Expiration: {{viewIdea.idea.expiry | ideaTime}}</div>
        </div>
        <p class='text-center'>{{viewIdea.idea.description}}</p> -->
        <!-- <input type='text'></input> -->
        <span class='text-center'> 
          <button 
            class='button button-block button-outline button-positive' 
            ng-click="viewIdea.buy()"> Buy </button>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>