<!--
  The nav bar that will be updated as we navigate between views.
-->

<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-header-bar class="bar-positive" align-title="center">
    <div class="buttons">
      <button menu-toggle="layout.toggleMenu()" class="button button-icon button-clear ion-navicon"></button>
    </div>
  </ion-header-bar>
  <!-- Center content -->
  <ion-side-menu-content>
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu expose-aside-when="large" side='left'>
    <div class='list' style='padding-top:43px;'>
      <a class='item item-icon-left positive' ui-sref='menu.list-ideas'> 
        <i class='icon ion-arrow-graph-up-right'></i>
        Ideas
      </a>
      <a class='item item-icon-left positive' ui-sref='menu.list-users'>
        <i class='icon ion-ios-search'></i>
        Follow Analysts
      </a>
      <a class='item item-icon-left positive' ui-sref='menu.list-favorites'>
        <i class='icon ion-ios-star'></i>
        Watch List
      </a>
      <a class='item item-icon-left positive' ui-sref='menu.list-follows'>
        <i class='icon ion-ios-people-outline'></i>
        Analysts I Follow
      </a>
      <a class='item item-icon-left balanced' ui-sref='menu.new-idea'>
        <i class='icon ion-ios-plus-outline'></i>
        Create Idea
      </a>
<!--       <a class='item item-icon-left positive'>
        <i class='icon ion-chatbubble'></i>
        Chat
      </a> -->
    </div>
  </ion-side-menu>
</ion-side-menus>